@import "styles/variables";

:global {
  .cart-icon {
    display: inline-block;
    cursor: pointer;
    color: $color-gray-400; // 기본 색

    &:hover,
    &:active {
      color: $color-text-main; // 호버 및 액티브 시 색 변경
    }

    svg {
      width: 24px;
      height: 24px;
      fill: currentColor; // 부모의 color를 따름
    }
  }

}
