NODE_ENV=development
PORT=8081
CLIENT_ORIGIN=http://localhost:3000

MONGODB_URI=여기에_몽고디비_URI_입력
MONGODB_DB_NAME=여기에_DB이름_입력
JWT_SECRET=여기에_JWT_시크릿_입력

R2_ACCOUNT_ID=여기에_클라우드플레어_ACCOUNT_ID_입력
R2_ACCESS_KEY_ID=여기에_R2_ACCESS_KEY_ID_입력
R2_SECRET_ACCESS_KEY=여기에_R2_SECRET_ACCESS_KEY_입력
R2_BUCKET_NAME=여기에_R2_버킷이름_입력
R2_PUBLIC_BASE_URL=https://pub-d41aad026bae47e7a72694d394026589.r2.dev
R2_REVIEW_IMAGE_PREFIX=review-images
