/* -------------------------------------------------------------------------- */
/* [스타일] 전역 스타일 (global.scss)                                         */
/* 프로젝트 전체에 깔리는 기본 배경색, 메인 폰트, 공통 레이아웃을 정의합니다. */
/* -------------------------------------------------------------------------- */

body {
  background-color: $color-bg;
  color: $color-text-main;
  font-family: $font-main;
}
