@import "styles/variables";

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: $color-white;
  border-radius: 16px 16px 0 0;
  padding: $layout-mobile-padding;

  &__title {
    font-size: $font-md;
    font-weight: $font-bold;
    margin-bottom: $space-md;
    text-align: center;
  }
}
