
@use "styles/variables" as *;
@use "styles/mixins" as *;

.category-page {
  width: 100%;
  padding-top: $page-content-start-mobile;
}

@include tablet-up {
  .category-page {
    padding-top: $page-content-start-tablet;
  }
}

@include desktop-up {
  .category-page {
    padding-top: $page-content-start-desktop;
  }
}
