@use "styles/variables" as *;
@use "styles/mixins" as *;

.pc-assembly-quote-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid rgba(60, 60, 60, 0.24);
  padding: $space-sm;
  min-height: 0;
  overflow-y: auto;
  scrollbar-color: $color-category-text transparent;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-category-text;
    border-radius: $radius-full;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $color-category-text;
  }

  &--empty {
    min-height: auto;
  }

  &__empty {
    padding: $space-lg 0;
    text-align: center;
  }
}
